html {
  font-family: helvetica;
  color: #4C5C71;
  font-size: 16px;
}

h1 {
  font-size: 26px;
  font-weight: normal;
}

h2 {
  font-size: 20px;
  font-weight: normal;
}

h3 {
  font-size: 18px;
  font-weight: normal;
}

h4 {
  font-size: 16px;
  font-weight: bold;
}

